body{
    background-color: #25dbc3;
}

.cadastro{
    border: 1px solid;
    text-align: center;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 5%;
    box-shadow: 5px 3px 3px black;
    background-color: white;
    border-radius: 15px;

}

.form{
    margin-top: 10px;
    margin-bottom: 15px;

}

#nome:hover{
    font-size: 15px;
}
#sobrenome:hover{
    font-size: 15px;
}
#email:hover{
    font-size: 15px;
}
#senha:hover{
    font-size: 15px;
}
#cidade:hover{
    font-size: 15px;
}
#bairro:hover{
    font-size: 15px;
}
#rua:hover{
    font-size: 15px;
}
#numero:hover{
    font-size: 15px;
}

#enviar{
    margin-top: 10px;
    width: 213px;
}
#enviar:hover{
    box-shadow: 1px 1px black;
}
